.view_map {
  padding: 0 10vw;
  position: relative;
  top: -10vh;

  button.btn {
    margin: 0 auto;
  }

  img {
    width: 25%;
    margin-bottom: 10vh;
  }
}

.game_page {
  position: relative;
  top: -40vh;

  .game-info {
    z-index: 10;
    background-color: rgba(0,0,0, 0.75);
    color: var(--white);
    margin-bottom: 2vh;
    padding: 2vh 1vw;
    width: 20vw;
    position: absolute;
    top: 10vh;
    left: .5vw;

    h1, h2 {
      margin-bottom: 2vh;
    }

    ul > * {
      margin-bottom: 1vh;
    }

    .game_key {
      width: 60%;
      font-size: 1vw;
    }

    .game_value {
      font-size: 1vw;
    }
  }
  
  .google-map-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    top: 0;
  }
}

.clue-form-box {
  position: absolute;
  width: 20vw;
  z-index: 10;
  background-color: rgba(0,0,0, 0.75);
  color: var(--white);
  padding: 2vh 1vw;
  top: 50vh;
  left: .5vw;

  h2, p {
    margin-bottom: 3vh;
  }

  input {
    display: block;
    margin-top: 1vh;
    width: 90%;
  }
}

.clue-form-box > * {
  margin-bottom: 1vh;
}