.hero_wrapper {
  width: 100vw;
  padding: 0 5vw;

  .hero {
    position: absolute;
    top: 30vh;

    .hero_title{
      width: 50vw;
      margin: auto 0;
      
      p {
        margin: 2vh 0 5vh 0;
      }

      button {
        margin-right: 1vw;
        width: 9vw;
        cursor: pointer;
      }

      .border-btn {
        border: 1px solid var(--orange);
        background-color: var(--white);
        color: var(--orange);
      }

      .border-btn:hover {
        background-color: var(--orange);
        color: var(--white);
      }

      .demo-btn {
        letter-spacing: 1px;
      }
    }

    .hero_img {
      width: 40vw;

      img {
       width: 70%;
      }
    }
  }
}

// Main Page CSS
.main_page footer {
  position: absolute;
}